# PyCharm & IDE settings
backend/.idea/
*.iws
*.iml
*.ipr
*.idea

# Python / Django
.venv/
venv/
__pycache__/
*.py[cod]
db.sqlite3
media/
backend/.env
*weights

# Node.js / React
node_modules/
dist/
.env.local

# private
zzz.txt
