# PyCharm & IDE settings
backend/.idea/
*.iws
*.iml
*.ipr


# Python / Django
.venv/
venv/
__pycache__/
*.py[cod]
db.sqlite3
media/
backend/.env

# Node.js / React
node_modules/
dist/
.env.local

# private
zzz.txt
